<a href="https://colab.research.google.com/github/PejiMendoza/CPE-009A--OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and Expressions in Python

Bool

In [5]:
print(bool("Hello"))
print(bool(False))

True
False

In [9]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [6]:
print(bool("Hello"))
print(bool(15))

True
True

In [10]:
print(bool(True))
print(bool(False))

True
False

Functions can return a boolean

In [13]:
def myFunction():
  return True

print(myFunction())

True

In [16]:
def myFunction():
  return True

if myFunction():
  print("Yes!")

else:
  print("No!")

Yes!

In [17]:
print(10>9)

a=6
b=7

print(a==b)
print(a!=a)

True
False
False

Python operators

In [20]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10/5)
print(10 % 5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

python bitwise operators

In [33]:
a = 60
b = 13

print(a & b)
print(a | b)
print(a^b)
print(a<<b)
print(a>>b)
a<<1
a<<2

12
61
49
491520
0

240

python assignment operators

In [41]:
x=1

x+=3
print(x)

4

In [42]:
x=1

x-=3
print(x)

-2

In [43]:
x=1

x*=3
print(x)

3

In [44]:
x=1

x/=3
print(x)

0.3333333333333333

In [45]:
x=1

x%=3
print(x)

1

Logical operators

In [49]:
y = 60
z = 13

print(y and z)

13

In [50]:
y = True
z = False

print(y and z)

False

In [59]:
y = 60
z = 13

print(y>z)
print(z>y)
print(y>z and z>y)
print(y>z and z<y)

print(not y>z and z<y)
print(y>z or z>y)

True
False
False
True
False
True

Identity operator

In [60]:
print(y is z)
print(y is not z)

False
True

Loop statement

In [61]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", ]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [62]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", ]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [63]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", ]

for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [64]:
for x in "week":
  print(x)

w
e
e
k

The range function

In [66]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested loops

In [68]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

python while loops

In [71]:
i = 1
while i< 6:
  print(i)
  i += 1

1
2
3
4
5

the continue statement

In [72]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

the else statement

In [73]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6